.messageMain {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop {
    display: flex;
}

.messageImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 10px;
}

.messageText {
    padding: 10px;
    border-radius: 10px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.messageBottom {
    font-size: 12px;
    position: relative;
    bottom: 15px;
    margin-left: 10px;
}

.messageMain.own {
    align-items: flex-end;
}

.messageMain.own .messageText {
    background-color: rgb(245, 241, 241);
    color: black;
}

.lastestMessage {
}