.position1 {
  margin: 0 auto;
  margin-top: 3rem;
}

.recordDiv5 {
  margin: 1rem;
  border: 2px solid #ffa500;
}

.colorF {
  font-size: 1.1rem;
  color: #ffa500;
}

.colorF:hover {
  color: #ffa500;
}
