.home {
  width: 100%;
  min-height: calc(100vh - 100px);
  background: #fff;
}
.case-box {
  width: 300px;
  height: 300px;
  padding: 5rem;
  font-size: 4rem;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.send-case {
  background: #ffa500;
}
.get-case {
  background-image: url(../imgs/sendCase.jpg);
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 0.8);
  transition: 1s;
}

.get-case:hover {
  transition: 0.6s;
  transform: scale(1.2);
}

.frameBox {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.homeText {
  margin-top: 5rem;
}
