.recordDiv3 {
  margin-top: 1rem;
  margin-left: 3rem;
  width: 100%;
  border: 2px solid #ffa500;
}

.span1 {
  align-items: center;
  width: 10%;
  padding: 5px 0;
  border-bottom: 2px solid #ffa500;
  border-right: 2px solid #ffa500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span2 {
  width: 10%;
  height: 5rem;
  padding: 10px 0;
  border-right: 2px solid #ffa500;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.del1 {
  display: flex;

  flex-wrap: wrap;
  border-right: 0;
}

.del2 {
  height: 1rem;
  /* justify-content: center; */
}

.del2:hover {
  cursor: pointer;
  color: #4798b3;
}

.white1:hover {
  color: white;
}
