.home {
  width: 100%;
  min-height: calc(100vh - 100px);
  background: #fff;
}
.case-box {
  width: 300px;
  height: 300px;
  padding: 5rem;
  font-size: 4rem;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.send-case {
  background: #ffa500;
}
.get-case {
  background: #4798b3;
}
