/* 顯示左側聊天室人員 */
.message-user {
    width: 30%;
    border: 1px solid red;
}

/* 每個人員的div */
.showOtherUser {
    border: 1px solid peru;
    height: 25%;
    padding: 1rem;
    position: relative;

}

/* 發送訊息德時間 */
.sendDate {
    position: absolute;
    right: 0;
    bottom: 10px;
}


/* 右側聊天區 */
.message-room {
    width: 60%;
    border: 1px solid peru;
    position: relative;
}

.my-message {
    position: absolute;
    right: 0;
    color: red;
}

.other-message {
    position: absolute;
    left: 0;
    color: blue;
}

.message-box {
    min-height: 30px;

}