.case-view {
  width: 70%;
  min-height: 500px;
  border: 3px solid #000;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-right: 30px;
  position: relative;

  /* overflow-y: auto ; */
}

.case-content {
    margin-top: 30px;
    font-size: 26px;
}

.case-content-title {
    border-bottom: 3px solid #ffa500;
    padding-bottom: 5px;
    color: rgb(95, 95, 95);
}

.case-content-text {
    color: #000;
}

.case-detail {
    padding: 10px;
    margin-top: 30px;
    border-radius: 15px;
    min-height: 45%;
    box-shadow: inset 0 0 2px rgb(90, 90, 90), inset 0 0 2px rgb(90, 90, 90), inset 0 0 2px rgb(90, 90, 90);
}