@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.footer {
    /* margin-top: 3rem; */
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    width: 100%;
    height: 120px;
    background: #ef6c34;
}

.footer-left {
    flex: 1;
    display: flex;
    font-weight: 800;
    vertical-align: middle;
}

.footer-img {
    width: 100%;
    background-image: url("../logo.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    flex: 1;
}

.footer-right {
    position: relative;
    flex: 1.5;
}

.footer-right-content {
    color: white;
    padding-left: 2rem;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 5px;
}

.footer-bottom-content {
    color: white;
    font-size: 12px;
    text-align: center;
}

.socials {
    margin-top: 10px;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li {
    margin: 0 30px;
}

.socials li a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    transition: color .4s ease;
}

.socials li a.facebook:hover {
    color: #3b5998;
}

.socials li a.twitter:hover {
    color: #1da1f2;
}

.socials li a.youtube:hover {
    color: #ff0000;
}

.socials li a.instagram:hover {
    color: #c13584;
}

.socials li a.linkedin:hover {
    color: #0077b5;
}