#infoImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.infoDataDiv {
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-left: 3rem;
  width: 60%;
}

.color1 {
  width: 30px;
  height: 30px;
  color: #ffa500;
  position: absolute;
  left: 120px;
  top: 120px;
}

.color1:hover {
  cursor: pointer;
}

.headPhotoDiv {
  position: relative;
  flex-grow: 1;
}

.infoDataDiv2 {
  flex-grow: 9;
}

.p1 {
  font-size: 30px;
  padding: 50px;
}

.infoDiv {
  margin-top: 30px;
}

.infoDiv1 {
  padding: 5px;
}

.p2 {
  font-size: 20px;
  width: 200px;
  text-align: center;
  border-right: 2px solid #ffa500;
}

.float-right {
  margin-right: 10px;
  float: right;
}

.CVDiv {
  width: 100%;
}

.border1 {
  border: 1px solid;
}

.CV1 {
  border: 2px solid #ffa500;
  margin-bottom: 3rem;
}

.p3 {
  color: #ffa500;
  font-size: 30px;
  text-align: center;
  border-bottom: 2px solid #ffa500;
  padding: 10px;
  margin-bottom: 1rem;
}

.infoDiv2 {
  padding: 20px;
  display: flex;
}

.p4 {
  font-size: 18px;
  margin: 1rem;
}

.borderTop {
  border-top: 2px solid #ffa500;
  margin-top: 1rem;
}

.pos {
  position: relative;
}

.float-right2 {
  position: absolute;
  right: 0.5rem;
  bottom: -0.5rem;
}

.p5 {
  padding: 2rem;
  letter-spacing: 3px;
  line-height: 3rem;
  overflow: auto;
}

.spanCenter {
  margin: 0 auto;
}

.inputFile {
  display: inline;
  width: 13rem;
}

.inputText {
  display: block;
  /* text-align: center; */
  width: 80% !important;
  min-height: 15rem;
  margin: 3rem auto !important;
  border-radius: 0 !important;
}

.portfolio > a {
  font-size: 1rem;
  margin: 0 0.5rem;
}

.flexGrow1 {
  display: block;
  width: 20%;
}

.flexGrow2 {
  display: block;
  width: 70%;
}

.flexGrow3 {
  display: block;
  width: 10%;
}

.modalSize {
  max-width: 40%;
}
