.recordDiv1 {
  margin-top: 3rem;
  margin-left: 3rem;
  width: 100%;
  border-bottom: 1px solid;
}

.recordDiv2 {
  background-color: #eee;
  border: 1px solid;
  border-radius: 3px;
  padding: 2px 15px;
  margin: 0 1px;
}

.recordDiv2:hover {
  cursor: pointer;
  background-color: #ffa500;
  color: white;
}

.recordDiv3 {
  margin-top: 1rem;
  margin-left: 3rem;
  width: 100%;
  border: 2px solid #ffa500;
}

.span1 {
  align-items: center;
  width: 10%;
  padding: 5px 0;
  border-bottom: 2px solid #ffa500;
  border-right: 2px solid #ffa500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span2 {
  width: 10%;
  height: 5rem;
  padding: 10px 0;
  border-right: 2px solid #ffa500;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.del1 {
  border-right: 0;
}

.del2 {
  margin: 0.5rem;
}

.del2:hover {
  cursor: pointer;
  color: #4798b3;
}

.white1:hover {
  color: white;
}

.recordDiv2:hover > a {
  color: #eee;
}
